---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sandesh Burada">
	<main
		class="max-w-6xl py-5 px-5 mx-auto mt-[4.5rem] min-h-[calc(100vh-4.5rem)] flex items-center"
	>
		<div class="max-w-[658px] space-y-16">
			<div class="flex flex-col gap-y-5">
				<p class="font-bold text-5xl">
					Investment strategies that help you master the fundamentals of the
					stock market.
				</p>
				<p class="text-[1.375em] font-light">
					The first Monday of each month, I reveal the secrets behind generating
					over $13,000 of stock gains in my first year of investing.
				</p>
				<p class="text-[1.375em] font-light">
					P.S As a thank you, enjoy a complementary call for your personalised
					investment strategy planning.
				</p>
			</div>
			<div class="max-w-[531px] h-[50px] flex shadow border border-secondary">
				<input
					class="flex-1 px-4 text-black outline-secondary placeholder:text-black/50"
					type="email"
					name=""
					id=""
					placeholder="Enter your Email"
				/>
				<button class="font-light px-4 bg-secondary" type="submit"
					>Let's do this!</button
				>
			</div>
		</div>
	</main>
</Layout>
