---
import BackgroundVectors from "../components/background-vectors.astro";
import Navbar from "../components/nav/nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<BackgroundVectors />
		<slot />
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

	:root {
		--primary: 226 232 240;
		--secondary: 115 46 244;
		--muted: 161 161 170;
		--warning: 253 186 116;
		--danger: 220 38 38;
		--black: 0 0 0;
	}

	html {
		background: #000;
		color: rgb(var(--primary));
		font-family: "Nunito Sans", sans-serif;
	}

	body::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: radial-gradient(
			193.46% 150.31% at -27.61% -60.3%,
			#9f64ff 0%,
			rgba(75, 59, 228, 0) 100%
		);
		z-index: -1;
	}
</style>
