---
import NavItem from "./nav-item.astro";
---

<ul class="w-full justify-between items-center py-5 px-5 hidden lg:flex">
	<NavItem class="font-semibold" title="Home" href="" />
	<div class="flex gap-x-5 font-light font-sans">
		<NavItem title="1:1 Coaching" href="https://calendly.com/sburada/30min" />
		<NavItem title="YouTube" href="https://www.youtube.com/@SandeshBurada" />
		<NavItem
			title="Linked In"
			href="https://www.linkedin.com/in/sandeshburada/"
		/>
	</div>
	<NavItem
		class="text-secondary font-semibold"
		title="Private Community"
		href=""
	/>
</ul>
