---
import MenuDesktop from "./menu-desktop.astro";
import MenuMobile from "./menu-mobile.astro";
---

<div class="fixed top-0 w-full">
	<nav class="w-full max-w-6xl mx-auto text-[1.375em] backdrop-blur-sm">
		<MenuDesktop />
		<MenuMobile />
	</nav>
</div>
